<nav>
    <ul style="display:flex;
    justify-content: start;
    list-style: none;">
        <li><a href="/">Home</a>&nbsp;</li>
        <li><a href="/posts">Posts</a>&nbsp;</li>
        <li><a href="/perfil">Usuários</a>&nbsp;</li>
    </ul>
</nav>