<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum</title>
</head>
<body>
    <header>
        <h1>Fórum DWI</h1>
        {{> menu }}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>&copy; 2025 Fórum DWI - Henrique Sales, Gustavo Brendon</p>
    </footer>
</body>
</html>